.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}
.navbar-brand{
    color: #fff;
}
.navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover{
    background-color: #222222;
    color: #fff;
}
.navber-toggle collapse{
    background: #080808;
}
.navbar-inverse .navbar-nav li a {
    
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.btn{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background-color: #5e4485;
    border: 2px solid #fff;
}#submit{
   padding: 10px;
   font-size: 14px;
   width: 100%;
}
.container{
    margin: 2% auto;
}
#icon{
    max-width:150px;
    margin: 1% auto;
}
footer{
    width: 100%;
    background-color: #5e4485;
    padding: 3%;
    color: #fff;
}
.fa{
    padding: 15px;
    font-size: 30px;
    color: #fff;
}
.fa:hover{
    color: #d5d5d5;
    text-decoration: none;
}
#form{
    width: 30%;
    margin: 0px auto;
    box-shadow: 3px 5px 8px  10px gray;
    border: 0px solid #fff;
   padding: 40px 50px;
    margin-bottom: 10px;
    margin-top: 9vh;
}
#for{
     width: 100%;
     text-align: center;
    margin: 0px auto;
    border: 0px solid #fff;
   padding: 40px 50px;
    margin-bottom: 10px;
    margin-top: 9vh;
}
.error {
  width: 92%; 
  margin: 0px auto;
  margin-bottom: 5px;
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.info {
    margin-top: 9vh;
    display: box;
    text-align: center;
    padding: 5px;
   
}

@media screen and (max-width:600px){
    .carousel-caption{
        display: none;
        text-decoration: none;
    }
    h2{
        font-size: 1.7em;
    }
    
}
